/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment temporarily to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* BASE SETTINGS *************************/

/* Settings to make it easier for you
   uncomment permanently when you understand the meaning of them */
   
/* border is included in width en height of boxes */
/* * { box-sizing: border-box; } */

/* standard margin 0 pixels */
/* * { margin: 0px; } */

/* hide everything larger than the dimensions of the div-box
   important side effect: browser usually doesn't take floats
   into account when determining height of div, leading to 
   div with height zero. With this settings, height of div-boxes
   willl be large enough to fit floats inside. */
/* div { overflow: hidden; }

/************************* YOUR SETTINGS *************************/
body {
   display:grid;
   grid-template-areas: 
   "logo header"
   "nav main"
   "footer footer";
   grid-template-columns: 180px 1fr ;
   grid-template-rows: 100px 600px 100px;
   background-color: lightgreen;
}

header{
   grid-area: header;
   font-size: 50px;
   padding-left: 150px;
   padding-top: 20px;
   font-family: 'Courier New', Courier, monospace;
   color: darkcyan;
   background-color: lightgreen;
   display: flex;
   
   
}
nav {
   grid-area: nav;
   background-color: lightgreen;
   

}
main {
   grid-area: main;
   background-color: white;
   border-radius: 20px;
   margin: 20px;
   
}
footer {
   grid-area: footer;
   background-color: white;
   border-radius: 20px;
   padding: 10px;
}

